# Server Configuration
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# Database Configuration
MONGODB_URI="mongodb+srv://cryptoanalysis45:Zz5e0HLdDoF9SJXA@cluster0.zqdhkxn.mongodb.net/crypto"

# JWT Configuration
JWT_SECRET="zX9kPqW3nR7tY2mB8vL4jF6hD5gC1aE2"
JWT_EXPIRES_IN=7d

# Encryption Configuration (for user API keys)
ENCRYPTION_KEY="your-32-character-encryption-key-here"

# Brevo Email Configuration
BREVO_API_KEY=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
SENDER_EMAIL=marketplace@crective.com
SENDER_NAME=Crective 